{% extends 'events/base.html' %}

    {% block content %}
    
   
    {% if user.is_authenticated %}
        <h1>Add Event to Database</h1>
        <br><br>
        {% if submitted %}
            Your Event was added Successfully
        {% else %}

        <form action="" method="post">
            {% csrf_token %}
            
            {{ form.as_p}}
            
            <input type="submit" value="submit" class="btn btn-secondary">
        </form>
        {% endif %}
        {% else %}
        <h1>You Must be Logged in to View this page</h1>
        <h3><a href="{% url 'login' %}">Login</a></h3>
        {% endif %}
    
    {% endblock %}
    


