{% extends 'events/base.html' %}

    {% block content %}
    
        {% if searched %}
        
        <h1>You Searched for {{searched}} </h1>

        {% for venue in venues %}
        
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{{venue}} </h5>
                venue -test
            </div>
            <div class="card-body">
                <p class="card-text"> 
                    <ul class="list-group">
                        {% if venue.address %}
                        <li class="list-group-item">{{ venue.address }}</li>
                        {% endif %}
                        {% if venue.zip_code %}
                        <li class="list-group-item">{{ venue.zip_code }}</li>
                        {% endif %}
                        {% if venue.phone %}
                        <li class="list-group-item">{{ venue.phone }}</li>
                        {% endif %}
                        {% if venue.email_address %}
                        <li class="list-group-item">{{ venue.email_address }}</li>
                        {% endif %}
                        {% if venue.website %}
                        <li class="list-group-item"><a href="{{ venue.website }}">
                            {{ venue.website }} 
                        </a></li>
                        {% if venue_owner %}
                        <li>Owner : {{ venue_owner }} </li>
                        {% endif %}
                        {% if venue_owner.email %}
                        <li>Owner email: {{venue_owener.email}} </li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </p>
                
            </div>
        </div>
        {% endfor %}

        {% else %}
        <h1>Enter a keyword and search again</h1>
        
        {% endif %}
        

    {% endblock %}
    


