{% extends 'events/base.html' %}

    {% block content %}
    
        
      

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{venue}} </h5>
                    venue -test
                </div>
                <div class="card-body">
                    <p class="card-text"> 
                        <ul class="list-group">
                            {% if venue.address %}
                            <li class="list-group-item">{{ venue.address }}</li>
                            {% endif %}
                            {% if venue.zip_code %}
                            <li class="list-group-item">{{ venue.zip_code }}</li>
                            {% endif %}
                            {% if venue.phone %}
                            <li class="list-group-item">{{ venue.phone }}</li>
                            {% endif %}
                            {% if venue.email_address %}
                            <li class="list-group-item">{{ venue.email_address }}</li>
                            {% endif %}
                            {% if venue.website %}
                            <li class="list-group-item"><a href="{{ venue.website }}">
                                {{ venue.website }} 
                                {% endif %}
                            </a></li>
                            <li class="list-group-item">Owner : {{ venue_owner }} </li>
                            {% if venue_owener.email %}
                            <li class="list-group-item">Owner email: {{venue_owener.email}} </li>
                            {% endif %}
                            {% if venue.venue_image %}
                            <li class="list-group-item">
                                     <img src="{{ venue.venue_image.url }}" alt="" width="200" height="150">
                                    </li>
                                    {% endif %}
                        </ul>
                    </p>
                    
                </div>
            </div>
            
        

    {% endblock %}
    


